<div class="container py-4">
  <h1 class="text-center text-4xl font-extrabold underline decoration-blue-500 decoration-wavy decoration-2">
    Presail DAO
  </h1>
  <p class="text-center py-4">
    Vote for what you think the Presail-team should make next.
  </p>
</div>

<div class="container flex justify-center">
  <div class="w-1/3">
    <ul role="list" class="divide-y divide-gray-200">
      <%= render partial: 'proposals/proposal', collection: @proposals, cached: -> proposal { [ proposal, current_user ]} %>
    </ul>

    <div class="flex">
      <%= link_to new_proposal_path, class: 'text-center mb-6 flex-grow w-100 items-center px-6 py-3 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500' do %>
        Make a proposal
      <% end %>
    </div>
  </div>
</div>
